<div class="leftPanel">
	<svg class="timeline hidden"></svg>
</div>

<div class="rightPanel">

	<div class="searchbar">
		<% if session[:access_token] == nil %>
		  <h4>
		  	<a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">log me in
		  	 <span class="glyphicon glyphicon-log-in"></span>
		  	</a>
		  </h4>
		 <% else %>
			<input class="inputUser form-control input-lg" type="text" placeholder="enter github user name"></input>
			<button class="submitUser btn btn-primary">Hit me!</button>
		 <% end %>
	 </div>

	<div class="popularity">
		<h4>most commonly searched users:</h4>
		<table class="table table-hover">
			<% @popular_users.each_with_index do |user, i| %>
				<tr>
					<td><%= i + 1 %>.</td>
					<td><%= user[:username] %></td>
					<td class="userSearches"><%= user[:count] %> 
						<span class="heart glyphicon glyphicon-heart"></span></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="summary hidden">
		<svg class="graph"></svg>
	</div>

</div>