<div class="topPanel">
	<div class="left">
		<h1>Octokitten</h1>
		<% if session[:access_token] == nil %>
		  <h4>
		  	<a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">log me in
		  	</a>
		  </h4>
		 <% else %>
		 	<h4 class="search glyphicon glyphicon-search"></h4>
		 	<h4 class="glyphicon glyphicon-cog"></h4>
		 <% end %>
	</div>
	<div class="middle">
		<h3 class="hide weekWrapper">Week of <span class="week"></span></h3>
        <input class="inputUser form-control input-lg <% if session[:access_token] == nil %>hide<% end %>" type="text" placeholder="enter github username"> 
    </div>
	<div class="right">
		<span class="share">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://octokitten.herokuapp.com/" data-text="Relationship between @github users, repos, and contributors by @shirleyxywu @pinkarrison #dataviz"></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</span>
	</div>
</div>

<div class="leftPanel">
	<div class="explanation">
		<h3>devs and repos and contributors, oh my!</h3>
		<p>
		There are many superstar developers on Github, with watches and stars to the nines.  They manage successful projects, adored (or abhored) by the masses.  But do these superstars ever cross paths?  Do they collaborate with each other?  How do they collaborate?  What's the pattern?
		</p>
		<p>
		In our first attempt at tackling these curiosities, we pull the repos of the developer you've searched for.  Out of their top repos, we get their top contributors.  We then go and pull the repos and top contributors of the developer's top contributors.
		</p>
		<p>
		Once we have the data, we want to see if there's any patterns.  We approach it in two ways: a timeline and an aggregate network graph.
		</p>
		<p>
		<img src="assets/timeline.png"></img>
		</p>
		<p>
		In the <strong>timeline</strong>, each column is a developer (represented by a filled label) or a repository (an unfilled label).  A line traces the activity of a developer, as they push commits to their own repositories or contribute to another's.
		</p>
		<p>
		With the <strong>graph</strong>, we want to understand interconnectivity between the developers.  As we scroll and the weeks pass, who start to collaborate together?  How often do they collaborate together?  Do contributors to the same repo tend to collaborate more together?   
		</p>
		<p><strong>Log in and search for a developer to get started.</strong></p>
	</div>
	<div class="loading hide">
		<h4>crunching that data</h4>
		<div class="progress">
		  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
		  </div>
		</div>
	</div>
	<div class="warning hide"></div>
	<div class="timelineWrapper hide">
		<svg class="timeline"></svg>
	</div>
</div>

<div class="rightPanel">
	<div class="popularity">
		<h3>most <span class="heart glyphicon glyphicon-heart"></span>'d users:</h3>
		<table class="table table-hover">
			<% @popular_users.each_with_index do |user, i| %>
				<tr>
					<td><%= i + 1 %>.</td>
					<td><%= user[:username] %></td>
					<td class="userSearches">
						<%= user[:count] %> 
						<span class="heart glyphicon glyphicon-heart"></span>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="summary hide">
		<svg class="graph"></svg>
		<div class="commitData"></div>
	</div>

</div>