<div class="leftPanel">
	<svg class="timeline hidden"></svg>
</div>

<div class="rightPanel">

	<div class="title">
		<h1>octokitten</h1>
		<span class="glyphicon glyphicon-question-sign"></span>
	</div>
	<div class="searchbar">
		<% if session[:access_token] == nil %>
		  <h4>
		  	<a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">log me in
		  	 <span class="glyphicon glyphicon-log-in"></span>
		  	</a>
		  </h4>
		 <% else %>
		 	<div class="input-group">
		      <input class="inputUser form-control input-lg" type="text" placeholder="enter github username">
		      <span class="input-group-btn">
		        <button class="submitUser btn btn-default  btn-lg" type="button">hit me!</button>
		      </span>
		    </div>
		 <% end %>
	 </div>

	<div class="popularity">
		<h3>most <span class="heart glyphicon glyphicon-heart"></span>'d users:</h3>
		<table class="table table-hover">
			<% @popular_users.each_with_index do |user, i| %>
				<tr>
					<td><%= i + 1 %>.</td>
					<td><%= user[:username] %></td>
					<td class="userSearches">
						<%= user[:count] %> 
						<span class="heart glyphicon glyphicon-heart"></span>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="summary hidden">
		<svg class="graph"></svg>
	</div>

</div>