<div class="leftPanel">
	<div class="explanation"></div>
	<div class="loading hide">
		<h4>crunching that data</h4>
		<div class="progress">
		  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
		  </div>
		</div>
	</div>
	<div class="warning hide"></div>
	<div class="timelineWrapper hide">
		<svg class="timeline"></svg>
	</div>
</div>

<div class="rightPanel">

	<div class="title">
		<h1>octokitten</h1>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://octokitten.herokuapp.com/" data-text="Relationship between @github users, repos, and contributors by @shirleyxywu @pinkarrison #dataviz">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div class="searchbar">
		<% if session[:access_token] == nil %>
		  <h4>
		  	<a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">log me in
		  	 <span class="glyphicon glyphicon-log-in"></span>
		  	</a>
		  </h4>
		 <% else %>
		 	<div class="input-group">
		      <input class="inputUser form-control input-lg" type="text" placeholder="enter github username">
		      <span class="input-group-btn">
		        <button class="submitUser btn btn-default  btn-lg" type="button">hit me!</button>
		      </span>
		    </div>
		 <% end %>
	 </div>

	<div class="content">
		<div class="popularity">
			<h3>most <span class="heart glyphicon glyphicon-heart"></span>'d users:</h3>
			<table class="table table-hover">
				<% @popular_users.each_with_index do |user, i| %>
					<tr>
						<td><%= i + 1 %>.</td>
						<td><%= user[:username] %></td>
						<td class="userSearches">
							<%= user[:count] %> 
							<span class="heart glyphicon glyphicon-heart"></span>
						</td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="summary hide">
			<h3>Week of <span class="week"></span>:</h3>
			<svg class="graph"></svg>
			<div class="commitData"></div>
		</div>
	</div>

</div>