<div class="leftPanel">
	<svg class="timeline"></svg>
</div>

<div class="summary">


	<div class="searchbar">
		<% if session[:access_token] == nil %>
		  <h4><a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">Log me in</a></h4>
		 <% else %>
			<input class="inputUser form-control input-lg" type="text" placeholder="enter github user name"></input>
			<button class="submitUser btn btn-primary">Hit me!</button>
		 <% end %>
	 </div>

	<svg class="graph hidden"></svg>

	<div class="popularity">
		<h4>Most commonly searched users</h4>
		<table class="table table-hover">
			<% @popular_users.each_with_index do |user, i| %>
				<tr>
					<td><%= i + 1 %>.</td>
					<td><%= user[:username] %></td>
					<td><%= user[:count] %> <span class="glyphicon glyphicon-heart"></span></td>
				</tr>
			<% end %>
		</table>
	</div>

</div>