<svg class="timeline"></svg>

<div class="summary">
	<div>
		<input class="inputUser" type="text" placeholder="enter github user name"></input>
		<button class="submitUser btn btn-primary">Hit me!</button>
	</div>
	
	  <% if session[:access_token] == nil %>
	    <a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">authorize me</a>
	  <% end %>
		
	<svg class="graph"></svg>

</div>