* {
	color: #666;
}

body {
	/*background-color: #333;*/
}

.hide {
	display: none;
}

.heart {
	color: #d6616b;
}

/*
top bar
*/
.topPanel {
	height: 48px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #333;
}

.topPanel .left{
	float: left;
	width: 25%;
}

.topPanel .middle {
	float: left;
	width: 50%;
}

.topPanel .right {
	float: right;
	width: 25%;
}

.topPanel .left h1, .topPanel .left h4 {
	display: inline;
	margin: 0px 0px 0px 10px;
	line-height: 48px;
	vertical-align: middle;
	color: #fff;
}

.topPanel .right .share {
	line-height: 48px;
	vertical-align: middle;
	float: right;
}

.topPanel .right .share * {
	vertical-align: middle;
	margin-right: -20px;
}

.topPanel .middle {
	text-align: center;
}

.topPanel .middle h3, .topPanel .middle .week {
	margin: 0px;
	line-height: 48px;
	color: #fff;
}

.topPanel .middle input {
	height: 36px;
	margin: 6px;
	text-align: center;
}
/*
.title {
	padding: 0px 40px;
}

.title h1 {
	display: inline-block;
	font-size: 36px;
}

.title .share {
	padding-left: 20px;
}*/

/*
right hand side
*/
.rightPanel {
	position: fixed;
	top: 48px;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #fbfbfb;
}

.searchbar {
	padding: 0px 40px;
}

.popularity {
	padding: 40px;
}

.userSearches {
	text-align: right;
}

/*.content {
	padding: 10px 40px;
	width: 100%;
	height: 80%;
}
*/
.summary {
	height: 100%;
}

.graph, .commitData {
	height: 40%;
	width: 100%;
	display: inline-block;
}

.graph {
	height: 55%;
}

.graph {
	stroke-width: 0px;
	background-color: #fafafa;
}

.commitData {
	overflow: scroll;
	padding: 20px;
}

.commitData ul {
    list-style-type: none;
}

.commitData ul > li {
	padding-top: 10px;
}

/*
left hand side
*/

.leftPanel {
	position: relative;
	top: 48px;
	width: 50%;
	height: 100%;
	overflow-y: visible;
	overflow-x: scroll;
}

.explanation {
	padding: 20px 40px;
}

.explanation img {
	width: 100%;
}

.timelineWrapper {
	height: 90%;
}

.timeline {
	width: 10000px;
	height: 100%;
}

.loading {
	text-align: center;
	margin: 250px 40px 40px 40px;
}

/*svg*/
.contributor {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
}

.commit {
	stroke-width: 2;
}

/**
lazy bootstrap overrides
*/
.submitUser {
	height: 46px;
}
