* {
	color: #666;
}

.hidden {
	display: none;
}

.heart {
	color: #d6616b;
}

.title {
	padding: 0px 40px;
}

/*
right hand side
*/
.rightPanel {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #FAFAFA;
}

.searchbar {
	padding: 0px 40px;
}

.popularity {
	padding: 40px;
}

.userSearches {
	text-align: right;
}

/*
left hand side
*/

.leftPanel {
	width: 50%;
	overflow-y: visible;
	overflow-x: scroll;
}

.timeline {
	height: 10000px;
}

.graph {
	width: 75%;
	height: 50%;
}

/*svg*/
.contributor {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
}

.commit {
	stroke-width: 2;
}